@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

nav, h1, .navHolder, #listLink, #createLink {box-sizing: border-box;}

nav {width: 80%; margin: 10px auto; border-radius: 15px 15px 15px; background-color: #597d4f; padding: 10px 0px; box-shadow: 5px 5px 5px black;}

#listLink, #createLink { text-align: center; height: 90%; border-radius: 15px 15px 15px; background-color: #ccff99; color: white;
  text-shadow: 2px 2px 4px #000000; width:90%; margin: 5px auto; font-size: 20px; cursor: pointer;}

  #listLink:hover, #createLink:hover {background-color: #446600;}

  #listLink:active, #createLink:active {color: #cc9900;}

  body {background: url('../../images/background_sm.jpg') no-repeat center fixed; width: 100vw;
  background-size: cover;}

  #content {margin-top: 100px; display: none;}

  h1 {text-shadow: 2px 2px 5px black; font-family: 'Great Vibes', cursive; text-align: center; margin: 30px auto; color: #69afa2; width: 80%; font-size: 11vw;}

  label, button {
    display: block;
    margin-top: 15px;
  }

  .navHolder { padding: 0px; display: inline-block; margin: 0px; width: 100%;}


  .message {
    display: none;
    border-radius: 15px 15px 15px;
    background-color: #597d4f;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    color: white;
    padding: 5px;
    width: 60%;
    overflow: auto;
  }



  /* responsive stuffs */

  @media(min-width: 600px) {
    body {background-image: url('../../images/background_md.jpg');}
    h1 {width: 70%; font-size: 10vw;}
    nav {width: 70%;}
    #listLink, #createLink {font-size: 22px;}
    .navHolder {width: 50%;}
  }

  @media(min-width: 1000px) {
    body {background-image: url('../../images/background_lg.jpg');}
    h1 {width: 60%; font-size: 9vw;}
    nav {width: 60%;}
    .navHolder {width: 50%;}
    #listLink, #createLink {font-size: 24px;}
  }
