@CHARSET "ISO-8859-1";

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 30px auto;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

caption {color: #b9e8d1;
  text-shadow: 0px -2px black;
  background-color: #597d4f;}

  table tr:nth-child(even){background-color: #f2f2f2;}

  table tr:nth-child(odd){background-color: #ccff99;}

  table tr:hover {background-color: #ddd;}

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }


  @media(min-width: 600px) {
    table {
      width: 90%;
    }
  }

  @media(min-width: 1000px) {
    table {
      width: 70%;
    }
  }
