@CHARSET "ISO-8859-1";

label, #formTitle {color: #b9e8d1;}

form {background-color: rgb(89, 125, 79); box-shadow: 5px 5px 5px black; padding: 20px; width: 80%; margin: 30px auto; width: 70%;}
input {width: 80%;}
#formTitle {width: 50%; margin: 5px auto; box-sizing: border-box; text-align: center; text-shadow: 0px -2px black;}

.message {display: none;}


@media(min-width: 600px) {
  form {
    width: 60%;
  }
}

@media(min-width: 1000px) {
  form {
    width: 35%;
  }
}
